<main>
  <input type="text" id="code" style="text-transform: uppercase" maxlength="4"></input>
  <button id="submit">Join Game</button>
  <script type="module">
   import { setupConnectPage } from '/main.js';
   $(setupConnectPage);
  </script>
</main>
