<main>
  <div class="container">
    <div class="form-group">
      <label for="code">Game Code:</label>
      <input type="text" id="code" class="form-control" style="text-transform: uppercase" maxlength="4"></input>
      <button id="submit" class="btn btn-primary form-control">Join Game</button>
    </div>
    <div>
      Status: <span id="connection-status"></span>
    </div>
    <script type="module">
     import { setupConnectPage } from '/connect_page.js';
     $(setupConnectPage);
    </script>
  </div>
</main>
