<div class="row">
  <div class="col-sm-6">
    <h1>
      You are
      <strong id="player-name">????</strong>
    </h1>
  </div>
  <div class="col-sm-6">
    <h1>
      You are in game
      <strong id="game-code">????</strong>
    </h1>
  </div>
</div>
