<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        I am now hosting a session at <strong id="code">????</strong>.
      </div>
      <div class="row">
        <div class="col-md-12">
          <h1>Players</h1>
          <ul id="player-list" class="list-group">
          </ul>
        </div>
      </div>
    </div>
    <script type="module">
     import { setupNewGame } from '/main.js';
     $(setupNewGame)
    </script>
  </div>
</main>
