<main>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        You are
        <strong id="player-name">????</strong>
      </div>
      <div class="col-md-2">
        You are in game
        <strong id="game-code">????</strong>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12" id="informational-message">
        ????
      </div>
    </div>
  </div>
</main>
