<main>
  <div class="container">
    <%= erb :game_info_header %>
    <div class="row">
      <div class="col-md-12">
        <div class="card"> <!-- ///// Refine me -->
          <div class="card-body" id="informational-message">
            ????
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
