<main>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        Page
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <input type="text" id="lua-code" class="form-control"></input>
      </div>
      <div class="col-md-4">
        <button id="submit" class="btn btn-primary form-control">Run</button>
      </div>
    </div>

  </div>

  <script type="module">
   import { runTest } from './lua_test.js';
   $(runTest);
  </script>
</main>
