<main>
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        Page
      </div>
    </div>

  </div>

  <script type="module">
   import { runTest } from './lua_test.js';
   $(runTest);
  </script>
</main>
