<main>
  <div class="container">

    <div class="row" id="player-status-header">
    </div>

    <div class="row" id="game-row">
      <div class="col-md-12">
        In game
      </div>
    </div>

  </div>
</main>
