<main>
  <script type="module">
   import { SSE, BroadcastMessage } from '/sse.js';

   $(function() {

     const sse = SSE.get();

     sse.addListener(function(data) {
       $("#messages").append(`<li>${data.source} - ${data.message}</li>`);
     });

     $("#submit").click(async function() {
       const text = $("#text").val();
       const message = new BroadcastMessage(text);
       await sse.sendMessage(message);
     });

   });
  </script>
  <ul id="messages">
  </ul>
  <div>
    <input type="text" id="text"></input>
    <button id="submit">Send</button>
  </div>
</main>
